html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  background: transparent url(background.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 50px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 35px;
}

input {
  padding: 3px;
  border: none;
  font-size: 20px;
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 15px;
}
input.button {
  background-color: #D85134;
  border-color: #D85134;
}

.wrapper {
  padding: 10%;
}

.response {
  font-family: 'Lato', sans-serif;
  margin: 20px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  font-size: 18px;
}

form {
  margin-top: 50px;
}
div.mce_inline_error {
  display: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}
